.navbar {
  background: white;
  padding: 20px;
  background-color: black;
  padding-inline: 20px;
  display: flex;
  align-items: center;
}
.navbar img {
  width: 30px;
}
.navbar a {
  margin-inline: 5px;
  text-decoration: none;
  color: white;
}
.navAuth{
  float: right;
  margin-left: auto;
  color: whitesmoke;
  font-size: 3px;
  font-style: bold;
}
.navAuth button {
  margin-left: 5px;
}
.dividLine{
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(175, 175, 175);
  margin-bottom: 30px;
}
.videoViewFrame{
  display: flex;
}
.videoViewFrame video{
  width:100%;
}
.videoDiscription small {
  margin: 3px;
  padding: 1px;
  color: rgb(175, 175, 175);
  border-inline: 1px solid;
  border-radius: 3px;
}
.videoTitle{
  color: rgb(175, 175, 175);
}
.videoFrame{
  background-color: rgb(29, 29, 29);
  padding: 10px;
  width : 50%;
}
.fileFrame{
  margin-left: 5px;
  width: 50%;
  background-color: rgb(29, 29, 29);
  min-height: 200px;
}
.video {
  width: 300px;
  margin: 15px;
  min-height: 300px;
}
.hori {
  display: flex;
  align-items: center;
}
.full {
  width: 80%;
  margin: auto;
}
body {
  background-color: black;
  }