.navbar {
  background: white;
  padding: 20px;
  background-color: black;
  padding-inline: 20px;
  display: flex;
  align-items: center;
}
.navbar img {
  width: 30px;
}
.navbar a {
  margin-inline: 5px;
  text-decoration: none;
  color: white;
}
.navbar div {
  display: flex;
}
.navbar div h5 {
  margin-inline: 10px;
}
.navAuth{
  float: right;
  margin-left: auto;
  color: whitesmoke;
  /* font-size: 3px; */
  font-style: bold;
}
.navAuth button {
  margin-left: 5px;
}
.dividLine{
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgb(175, 175, 175);
  margin-bottom: 30px;
}
.testVideo{
  width: 100%;
}
.videoViewFrame{
  display: flex;
}
.videoViewFrame video{
  width:100%;
}
.videoDiscription small {
  margin: 3px;
  padding: 2px;
  color: rgb(175, 175, 175);
  border-inline: 1px solid;
  border-radius: 3px;
}
.videoTitle{
  color: rgb(175, 175, 175);
}
.videoFrame{
  background-color: rgb(29, 29, 29);
  padding: 10px;
  width : 50%;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  min-height: 700px;
}
.fileFrame{
  margin-left: 5px;
  width: 50%;
  background-color: rgb(29, 29, 29);
  min-height: 200px;
}
.video {
  width: 300px;
  margin: 15px;
  margin-inline: auto;

  min-height: 300px;
}
.hori {
  display: flex;
  align-items: center;
}
.full {
  width: 80%;
  margin: auto;
}
.uploadForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.uploadForm input {
  margin-bottom: 20px;
}
.uploadForm select {
  margin-block: 20px;
}
.uploadForm textarea {
  min-height: 200px;
  height: fit-content;
}
.uploadsrc{
  min-height: 200px;
  height: inherit;
  margin-block: 10px;
  padding: 10px;
  background-color: rgb(29, 29, 29);
}
.etcfile{
  border: 1px solid;
  border-color: whitesmoke;
  color: white;
  margin-bottom: 3px;
  padding: 2px;
  padding-inline: 10px;
  display: flex;
}
.etcfile small {
  margin-block: auto;
  margin-inline-start: 10px;
}
.userinfo h3 {
  color: white;
}
body {
  background-color: black;
}